.team__ava {
    width: 200px;
    height: 200px;
    overflow:hidden;
    border-radius:50%;
}
.team__img {
    min-width: 100%;
    height: 100%;
}
.breadcrumps {

}
.breadcrumps__href {

}
.breadcrumps__item:not(:last-child)::after {
    content: " /";
}
.navigation__title::before {
    content: "";
    display: block;
    width: 24px;
    height: 19px;
    /* background-color: coral;
    background-image: url(../img/main_icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; */
    background: coral url(../img/main_icon.png) no-repeat center; 
}
