.team__ava {
    width: 200px;
    height: 200px;
    overflow:hidden;
    border-radius:50%;
}
.team__img {
    min-width: 100%;
    height: 100%;
}

.breadcrumps__item:not(:last-child)::after {
    content: " /";
}
.navigation__title::before {
    content: "";
    display: block;
    width: 24px;
    height: 19px;
    /* background-color: coral;
    background-image: url(../img/main_icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; */
    background: coral url(../img/main_icon.png) no-repeat center; 
}
/* Это нижние иконки подвала */
.social__href-vk {
    background-image: url(../img/vk.png);
    width: 12px;
    height: 7px;
}
.icon__img--fb {
    background-image: url(../img/fb.png);
    width: 6px;
    height: 13px;
}
.icon__img--google {
    background-image: url(../img/google.png);
    width: 15px;
    height: 9px;
}
.icon__img--twitter {
    background-image: url(../img/twitter.png);
    width: 11px;
    height: 9px;
}
.icon__img--email {
    background-image: url(../img/mail.png);
    width: 12px;
    height: 9px;
}